 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">

 </head>
 <body style="background-image: url('/img/pexels-brett-sayles-3797928.jpg'); background-size: cover;"  >
  <div class="home-page" style="text-align: center; margin-top: 300px; margin-bottom: 200px;">
  <h1 style=" color: white; font-weight: 700; font-size: 30px;"> Wel Come To Our Website</h1>
  <P style="color: white; font-weight: 500; font-size: 20px;"><span>Enjoy Exploring Our Content!</span></P>
  </div>
 </body>
 </html>
 
 

