 <style>
  .createForm{
    margin: auto;
    width: 400px;
    height: 600px;
    margin-top: 160px;
    cursor: pointer;
  }
   
 
   input, .createBtn{
    display: block;
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: all .4s ease-in-out; 
   }
   .createBtn:hover{
     background-color: #58111A ;
     color: white;
   }
   label, .createBtn{
    font-weight: 500;
   }
  .createBtn{
    background-color: crimson;
    color: white;
    margin-top: 40px;
  }

</style>




<div class="createForm">
   <h2 style="margin-bottom: 40px; text-align: center; color:crimson;">Create Account</h2>
  <form class="inputForm" action="/explore" method="post">
   <label for="name">User Name:</label>
   <input type="text" id="name" required>
   <label for="email" > Email:</label>
   <input type="email" id="email" required>
   <label for="password" > Password:</label>
   <input type="password" id="password" required>
   <button class="createBtn" type="submit" name="btn">Submit</button>
  </form>
  <!-- <button style="border-radius: 50%; border: none;background-color: crimson;width: 50px;"> <a style="text-decoration: none; color: white;font-weight: 500;" href="/user">Usre</a></button> -->
 



